body{background-color: lavenderblush}
body{font-family: cursive}
.contenido{margin: 100px}
header{color: indianred}
header{font-weight: bold}
header{background-color: lightpink}
#encabezado{text-align: center}
#encabezado{border: 2px}
#encabezado{border-style: solid}
#encabezado{border-color: deeppink}
#encabezado{padding: 10px}
nav{color: indianred}
nav{background-color: lavender}
#navegacion{text-align: center}
#navegacion{border: 2px}
#navegacion{border-style: solid}
#navegacion{border-color: blueviolet}
#navegacion{padding: 10px}
.cuerpo{border: 2px}
.cuerpo{border-style: solid}
.cuerpo{border-color: hotpink}
.cuerpo{padding: 10px}
h2, h3{color: palevioletred}
a:link{color: royalblue}
a:visited{color: slateblue}
a:hover{background-color: lightpink}
img{display: block}
img{margin: auto}
p{text-align: justify}
.fotos{margin: 10px}
.fotos{border: 2px}
.fotos{border-style: dotted}
.fotos{border-color: hotpink}
footer{color: indianred}
footer{font-weight: bold}
footer{background-color: lavender}
#pie-pagina{text-align: center}
#pie-pagina{border: 2px}
#pie-pagina{border-style: solid}
#pie-pagina{border-color: rebeccapurple}
#pie-pagina{padding: 10px}